<h1><%= @type.category %></h1>

<hr>

<%= link_to "Types", types_path %> |
<%= link_to "Rename Category", edit_type_path(@type) %> |
<%= link_to "Delete Type", type_path(@type),
                         :data => {:confirm => "Are you sure?",
                                   :method => "delete"} %>
